@import 'variables';
@import 'animations';

@media screen and (min-width: 992px) {
  @import 'aos';
}

@import "bootstrap/bootstrap";

/*
===================================================================
                          Defult CSS 
===================================================================
*/

*:focus-visible {
  outline: none;
}

body {
  margin: 0;
  padding-top: 145px;
  font-family: 'Marianne', serif;

  &.stuck {
    position: fixed;
    overflow: hidden;
  }
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1 {
  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;
}

.body-wrraper {
  overflow: hidden;
}

.section-btn {
  position: relative;
}

.section-btn a {
  color: #fff;
  font-weight: 700;
  font-size: 12px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 10px;
}

.section-btn a:first-child {
  border: 2px solid $danger;
  font-weight: 900;
  border-right: inherit;
  font-size: 14px;
  padding: 10px 0 10px 10px;
  @include animBouton($danger);
}

.aides-area-section .section-btn a:first-child {
  border-color: $light;
  @include animBouton($light);
}

.section-btn a i {
  font-size: 16px;
  position: absolute;
  bottom: 13px;
}

/*
===================================================================
                       Start Header Area CSS
===================================================================
*/
.header-area-section {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: white;
  z-index: 112;
}

.header-menu-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.remove-burger {
  display: none;
}

.header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
  position: relative;

  @media screen and (min-width: 1340px) {
    &::after {
      position: absolute;
      content: '';
      background: $light;
      height: 85px;
      width: 1px;
      right: -40px;
      top: 15px;
    }
  }
}

.head-menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}


.head-menu > ul > li > a {
  color: #767676;
  font-weight: 400;
  font-size: 14px;
  padding: 62px 20px;
  display: inline-block;
  position: relative;
  @media screen and (min-width: 992px) {
    &::after {
      content: "";
      position: absolute;
      bottom: 50px;
      right: 0;
      width: 0;
      height: 4px;
      background: $danger;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
    }
    &:hover {
      &::after {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
}

.head-menu ul li:hover > a {
  color: $danger;
}

/*mega-menu start*/

.head-menu ul li > ul {
  display: none !important;
  z-index: 9999;
}

.head-menu ul > li:hover > ul {
  display: block !important;
  z-index: 9999;
}

.megacontain {
  width: 100%;
  top: 95%;
  left: 0;
  right: 0;
  position: absolute !important;
}

.item1 h3 {
  color: #767676;
  font-size: 16px;
  text-transform: capitalize;
}

.megamenu {
  padding-top: 20px;

  ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;

    ul a {
      color: #767676 !important;
      font-size: 16px !important;
      display: inline-block !important;
      padding: 7px 0 !important;
      font-weight: 400;
    }
  }
}

.megamenu ul li:hover a {
  color: $danger !important;
}

.mega-menu-wrepper {
  background: #fff;
  padding: 50px 30px 30px 30px;
}


/*mega menu end*/

.header-search a i {
  color: $danger;
  padding-right: 30px;
}

.header-menu {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 94%;
  flex: 0 0 94%;
  position: relative;

  @media screen and (min-width: 1340px) {
    &::after {
      position: absolute;
      content: '';
      background: $light;
      height: 85px;
      width: 1px;
      right: 0;
      top: 30px;
    }
  }
}

.mobile-bars {
  display: none;
}

.mobile-search-short {
  display: block;
}

.header-search {
  display: none;
}

.header-search-btn {
  right: 55px;
  top: 30px;
  bottom: 30px;
  left: 100%;

  &.active {
    left: -1px;
  }

  position: absolute !important;
  z-index: 3333;
  border: none;
  overflow: hidden;
  transition: all 0.5s;
}

.header-menu-area .actuali-subscribe {
  margin-top: 0;
}

.mobile-nenu {
  position: absolute;
  top: 50px;
}

.header-search-ful a i {
  color: $danger;
  font-size: 22px;
}


/*
===================================================================
                       End Header Area CSS
===================================================================
*/


/*
===================================================================
                       Start Banner Area CSS
===================================================================
*/
.banner-area-section {
  padding: 265px 0 212px 0;
  position: relative;
  background: rgba(0, 0, 0, 0.5);

  #video-bg {
    position: fixed;
    z-index: -1;
    left: 0;
    right: 0;
    top: -150px;
  }
}

.banner-area-section::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  right: -32%;
  top: 47%;
  background-size: 350px;
  background: url(../images/shapeBanner.png) no-repeat bottom;
  z-index: 0;
}

.banner-heading {
  h1 {
    font-family: 'MarianneExtra', sans-serif;
    color: $danger;
    font-size: 80px;
    font-weight: bold;
  }

  h3 {
    font-size: 37px;
    font-weight: 700;
    color: $danger;
    padding-bottom: 23px;
    display: inline-block;
    background-image: url(../images/h3border.png);
    background-position: left bottom;
    background-repeat: no-repeat;
    //noinspection CssOverwrittenProperties
    span.typo {
      color: white; // for IE11
      -webkit-text-stroke: 1px #FFF;
      color: var(--transparent); // For other browsers
    }
  }
}

.banner-btn {
  padding-top: 50px;
}

/*
===================================================================
                       End Banner Area CSS
===================================================================
*/


/*
===================================================================
                       Start Actualité Area CSS
===================================================================
*/
.actuali-area-section {
  padding: 82px 0 52px;
  background: white;
}

.actuali-right-fifty,.actuali-left {
  h1 {
    font-weight: 400;
    color: #364798;
    padding: 20px 0;
    margin-bottom: 50px;
    background: white;
    font-size: 85px;
    text-transform: capitalize;
  }
}

.actuali-left-img {
  position: relative;

  img {
    width: 100%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/path.png') no-repeat;
    pointer-events: none;
    left: 15px;
    bottom: -70px;
  }
}

.big-images {
  box-shadow: 8px 8px 20px $light;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../images/path.png') no-repeat;
    pointer-events: none;
    left: 15px;
    bottom: -210px;
  }
}

.actuali-content-title-acl {
  //Date
  h5 {
    color: #A79D9A;
    font-weight: 400;
    padding-bottom: 10px;
    font-size: 16px;
  }

  //Tag
  h4 {
    background-color: #364798;
    color: #fff;
    font-family: 'Spectral', serif;
    font-weight: 300;
    font-size: 21px;
    display: inline-block;
    padding: 5px 5px 3px 5px;
    text-transform: uppercase;
  }
}

.actuali-content {
  margin-top: -20px;
}

.actuali-content-title-acl, .actuali-content-title {
  -webkit-transform: translate(5px, -13px);
  -ms-transform: translate(5px, -13px);
  transform: translate(5px, -13px);
}

.actuali-content-title h4 {
  background-color: #364798;
  color: #fff;
  font-family: 'Spectral', serif;
  font-weight: 300;
  font-size: 21px;
  display: inline-block;
  padding: 5px 5px 3px 5px;
  text-transform: uppercase;
}

.actuali-des-date, .actuali-des-date-acl {
  h5 {
    color: #A79D9A;
    font-weight: 400;
    padding: 10px 0;
    font-size: 17px;
  }
}

.actuali-des-date-acl a {
  color: #364798;
  font-weight: 700;
  font-size: 20px;
}

.actuali-des-date a {
  color: #364798;
  font-weight: 400;
  font-size: 15px;
}

.fifty-row {
  padding-top: 30px;
}

.acuali-btn {
  text-align: center;
  padding-top: 90px;

  a {
    color: #364798;
    font-size: 14px;

    &:first-child {
      border-color: $light;
      border-right: inherit;
      padding: 10px 0 10px 10px;
      position: relative;

      @include animBouton($light);
    }

    &:last-child {
      font-family: 'Font Awesome 5 Free', fantasy;
      font-weight: 300;
    }
  }
}

.actuali-left-area, .single-actuali, .aides-left-area > div, .single-aides-content {
  transition: all 0.2s;
  transform: perspective(1px);
  backface-visibility: hidden;

  &:hover {
    transform: scale(1.038) perspective(1px);
    -webkit-font-smoothing: subpixel-antialiased;

  }
}

.actuali-subscribe {
  position: relative;
  margin-top: 100px;

  &:not(.header-search-btn) {
    max-width: 400px;
    width: 100%;

    input[type="text"] {
      width: 479px;
    }
  }

  z-index: 10;
  @include hover-focus-active() {
    outline: none;
  }
}

.actuali-subscribe input {
  border: none;
}

.actuali-subscribe input[type="text"] {
  border: 1px solid $light;
  padding: 8px 126px 8px 16px;
  height: 55px;
  max-width: 100%;

  &::-webkit-input-placeholder {
    font-size: 17px;
    color: rgba(95, 81, 79, 0.4) !important;
  }

  &::-moz-placeholder {
    font-size: 17px;
    color: rgba(95, 81, 79, 0.4) !important;
  }

  &:-ms-input-placeholder {
    font-size: 17px;
    color: rgba(95, 81, 79, 0.4) !important;
  }

  &::-ms-input-placeholder, {
    font-size: 17px;
    color: rgba(95, 81, 79, 0.4) !important;
  }

  &::placeholder {
    font-size: 17px;
    color: rgba(95, 81, 79, 0.4) !important;
  }
}

.actuali-subscribe.header-search-btn input[type="text"] {
  height: 85px;
  width: 100%;
  font-size: 55px;

  &::-webkit-input-placeholder {
    position: relative;
    top: -12px;
  }

  &::-moz-placeholder {
    position: relative;
    top: -12px;
  }

  &:-ms-input-placeholder {
    position: relative;
    top: -12px;
  }

  &::-ms-input-placeholder, {
    position: relative;
    top: -12px;
  }

  &::placeholder {
    position: relative;
    top: -12px;
  }
}


.actuali-subscribe button[type="submit"] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  background: transparent;
  top: 13px;
  right: 9px;
  border: none;
  font-size: 17px;
  font-weight: 700;
  color: $danger;
}

.actuali-subscribe.header-search-btn button[type="submit"] {
  top: 28px;
}

/*
===================================================================
                       End Actualités Area CSS
===================================================================
*/


/*
===================================================================
                       Start Aides Area CSS
===================================================================
*/

.aides-area-section {
  background: #EDE9EA;
  padding: 75px 0 55px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 51%;
    height: 37px;
    background: #fff;
    top: 0;
    right: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 250px;
    background: url('../images/shapl.png') no-repeat top;
    left: -36%;
    top: -25%;
  }
}

.aides-head h1 {
  color: $danger;
  font-weight: 400;
  font-size: 85px;
  text-align: center;
  position: absolute;
  top: -156px;
  right: 30%;
  z-index: 111;
  text-transform: capitalize;
}

.aides-left-area > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.aides-left-image img {
  width: 100%;
}

.aidesfix-content {
  position: relative;
  background: #fff;
}

.aidexfix-red {
  background: $danger;
}

.aidexfix-desc p {
  color: #fff !important;
  font-weight: 700 !important;
  font-size: 23px !important;
  line-height: 1.2;
}

.aidexfix-desc-left p {
  color: #5F514F !important;
  font-weight: 700 !important;
  font-size: 23px !important;
}

.aides-left-area {
  -webkit-box-shadow: 8px 8px 20px rgba(209, 204, 202, 0.74);
  box-shadow: 8px 8px 20px rgba(209, 204, 202, 0.74);
}

.single-aides-content {
  -webkit-box-shadow: 8px 8px 20px rgba(209, 204, 202, 0.74);
  box-shadow: 8px 8px 20px rgba(209, 204, 202, 0.74);
}

.aides-left-content {
  background: #fff;
  position: relative;
}

.aides-title-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 5px;
}

.aides-top span {
  background: $danger;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #EDE9EA;
  margin-left: 10px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 25px;
  left: -20px;
  font-size: 25px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  i {
    color: #fff;
    line-height: 2;
  }
}

.aides-bttom span {
  background: $danger;
  width: 48px;
  height: 48px;
  text-align: center;
  border: 1px solid #EDE9EA;
  margin-left: 10px;
  margin-top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: -10px;
  font-size: 25px;
  left: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  i {
    color: #fff;
    line-height: 2;
  }
}

.aides-title-icon h3 {
  color: $danger;
  font-family: 'Spectral', serif;
  font-weight: 300;
  font-size: 17px;
  display: inline-block;
  padding: 25px 50px 0 51px;
  text-transform: uppercase;
}

.aidexfix-title h3 {
  color: #fff;
  padding-right: 60px;
}

.aides-left-desc p {
  color: #5F514F;
  margin: 20px 30px;
  border-top: 2px dotted $light;
  padding: 20px 0 50px 0;
  font-size: 17px;
}

.aides-bottom {
  padding-top: 30ex;
}

.aides-left-content {
  height: 220px;
}

.aides-bttom h3 {
  color: $danger;
  font-family: 'Spectral', serif;
  font-weight: 300;
  font-size: 18px;
  display: inline-block;
  text-transform: uppercase;
  padding: 10px 0 0 80px;
}

.aidesfix-img img {
  height: 300px;
}

.aidesfix-img {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.aidesfix-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.aidesfix-content {
  height: 300px;
}

.aides-aides {
  padding-top: 40px;
}


.aides-btn {
  text-align: center;
  padding-top: 50px;
}

.aides-btn a {
  color: $danger;
}

/*
===================================================================
                       End Aides Area CSS
===================================================================
*/


/*
===================================================================
                       Start Footer Area CSS
===================================================================
*/

.footer-area-section {
  background-color: $danger;
  padding: 20px 0;
  position: relative;
}

.footer-area-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 250px;
  background-size: 200px;
  background: url('../images/shaper.png') no-repeat;
  top: -35%;
  left: 73%;
  z-index: 1111;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.footer_main_sub_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 30px 0 20px 0;
}

/*footer logo style start */
.footer_logo {
  a {
    img {
      height: auto;
      -o-object-fit: cover;
      object-fit: cover;
      margin-right: 70px;
    }
  }
}

/*Footer content area start */
.footer_content_area {
  margin-left: 30px;

  h2 {
    font-size: 22px;
    letter-spacing: -1px;
    position: relative;
    color: #fff;
    word-spacing: -1px;

    &::after {
      position: absolute;
      content: "";
      border-bottom: 2px dashed $light;
      left: 0;
      width: 50%;
      bottom: -10px;
    }
  }
}


.footer_content_area_sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0 0 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;

  ul {
    padding-left: 10px;

    li {
      font-weight: normal;
      font-size: 16px;
      text-align: left;
      color: #fff;
    }
  }
}

.footer_icon_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  i {
    font-size: 30px;
  }

  p {
    color: #fff;
    font-size: 20px;
    padding-top: 6px;
  }
}

.footer_icon_area2 {
  margin-left: 20px;
  padding-left: 30px;
}

/*btn style footer*/
.footer-btn {
  padding-top: 50px;

  a:first-child {
    border: 2px solid #FFFFFF;
    font-weight: 900;
    border-right: none;
    @include animBouton();
  }
}


.footer-btn-rgt a {
  color: $danger;

  &:first-child {
    border: 2px solid $light;
    border-right: none;
    @include animBouton($light)
  }
}

.footer-right-icon {
  padding-right: 50px;

  a i {
    color: $danger;
    font-size: 20px;
    padding-left: 15px;
  }
}


.footer-right-position-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-right-position-area {
  position: absolute;
  background: #EDE9EA;
  right: 0;
  bottom: -40px;
  padding: 40px 47px;
  color: gray !important;
  width: 40%;
}

.footer-right-position-area ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Font Awesome 5 Free', fantasy;
  color: red;
}

.footer-right-position-area ul li a {
  color: $danger;
}

.footer-right-position-area ul li a:first-child {
  padding: 10px 0 10px 20px;
}

.footer_right-area ul li a {
  color: #fff;
  font-size: 12px;
}


.section-btn.footer-btn-english a {
  color: #fff;
  font-weight: 400;

  &:first-child {
    @include animBouton(transparent)
  }
}

.footer-btn-english a i {
  bottom: 12px;
}

.footer_right-area {
  padding-top: 80px;
}

/*Footer Bottom area start */

.footer_buttom {
  background: #fff;
  padding: 20px 0;
}

.footer_buttom_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_buttom_menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer_buttom_menu ul li a {
  color: #A79D9A;
  font-size: 12px;
  display: inline-block;
  padding: 2px 5px;
  margin-right: 10px;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  font-weight: 400;
  @media screen and (min-width: 992px) {
    &::before {
      content: "";
      position: absolute;
      top: 100%;
      right: 0;
      width: 0;
      height: 1px;
      background: #A79D9A;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
    }
    &:hover {
      &::before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }
}

.footer_buttom_menu ul li a:hover {
  color: #000000b5;
}

.footer_buttom_menu ul li a::after {
  position: absolute;
  content: "";
  right: -7px;
  top: 11px;
  width: 6px;
  height: 1px;
  background: #A79D9A;
}

.footer_buttom_menu ul li:last-child a:after {
  position: absolute;
  content: "";
  background: transparent;
}

.footer-buttom-menu-right-area {
  padding-left: 100px;
}

.footer-buttom-menu-right-area li a {
  font-size: 12px;
}

@media all and (max-width: 1340px) {
  .aides-head h1{
    right: 25%;
  }

}

@media all and (max-width: 1200px) {

  /*actuali*/
  .actuali-right-fifty h1 {
    padding: 35px 0;
  }

  .aides-left-area {
    margin-bottom: 30px;
  }
  .single-aides-content {
    margin-bottom: 30px;
  }
  .aides-left-image img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .header-menu {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 85%;
    flex: 0 0 90%;
  }
  .head-menu > ul::before {
    display: none;
  }
  .head-menu > ul::after {
    display: none;
  }
  .footer-right-icon {
    padding-right: 0;
  }
  .footer-right-position-area {
    padding: 16px 24px;
  }
}

@media all and (min-width: 992px) {
  .head-menu > ul {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media all and (max-width: 991px) {
  body{
    padding-top: 140px;
  }
  .megacontain {
    position: relative !important;
  }
  .item1 {
    padding-bottom: 20px;
  }
  .header-area-section {
    padding: 10px 0;
  }

  /*header-logo*/
  .header-logo-img {
    margin-right: 100px;
  }
  /*head-menu*/
  .head-menu > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    z-index: 111;
    background: $danger;
    width: 100vw;
    text-align: center;
    left: -110vw;
    top: 0;
    bottom: 0;
    padding: 20px 0;
    transition: left 0.2s;

    &.active {
      left: 0;
      a{
        font-size: 25px;
        font-weight: bold;
        color: white;
      }
    }

    .remove-burger {
      display: block;
      position: absolute;
      top: 35px;
      right: 20px;
    }
  }
  .head-menu ul li a {
    padding: 15px 20px;
  }
  .head-menu ul::before {
    display: none;
  }
  .head-menu ul::after {
    display: none;
  }
  .mobile-bars {
    display: block;
  }

  .mobile-bars a i {
    font-size: 25px;
    color: #D20042;
    padding: 5px 6px;
    border-radius: 2px;
  }
  .header-menu-area {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }

  .banner-area-section{
    display: none;
  }
  /*overly*/
  .overlay {
    z-index: 2222;
  }
  .overlay-content {
    top: 15%;
  }
  .overlay button {
    right: 30px;
  }


  /*actuali*/
  .actuali-area-section{
    padding-top: 0;
  }
  .actuali-left-area{
    margin-bottom: 30px;
  }
  .single-actuali {
    padding-bottom: 50px;
  }
  .fifty-row {
    padding-top: 0;
  }


  .aides-area-section {
    margin-top: 30px;
  }
  .aides-head h1 {
    right: 10%;
  }

  /*aides-left-area*/
  .mobile-sub-aides {
    padding-bottom: 0;
  }
  .single-aides-content {
    margin-bottom: 30px;
  }
  .big-images::after {
    bottom: -325px !important;
  }
  .actuali-left-img::after {
    bottom: -135px;
  }

  .footer-right-position-area {
    padding: 14px 16px;
    width: 43%;
  }
  .header-logo-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .header-search-ful {
    display: none;
  }
  .bars-search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile-search-short {
    display: block;
  }
  .mobile-search-short a i {
    color: #D20042;
  }
  .footer-right-position-area {
    padding: 14px 21px;
  }
  .footer-right-position-area {
    width: 100%;
  }
  .footer-btn {
    text-align: center;
    padding-right: 130px;
  }
  .footer_main_sub_area {
    flex-direction: column;
  }
  .footer_right-area {
    padding: 30px;
  }

}

@media all and (max-width: 768px) {
  .actuali-area-section{
    padding-bottom: 0;
  }
  /*banner*/
  .banner-heading h1 {
    font-size: 40px;
  }
  .banner-heading h3 {
    font-size: 30px;
  }
  .acuali-btn {
    padding-top: 0;
  }
  .actuali-subscribe {
    left: 0;
    right: 0;
    margin: auto;
  }
  .aides-area-section {
    margin-top: 0;
  }
  .aides-head h1 {
    right: 28%;
  }
  .actuali-left-img::after {
    bottom: -310px;
  }
  .actuali-left h1{
    font-size: 52px;
    margin-bottom: 10px;
  }
  .big-images::after {
    bottom: -197px !important;
  }

  .footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  .footer_main_sub_area {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer_logo a img {
    margin-right: 0;
    margin-bottom: 14px;
  }
  .footer_content_area {
    margin-left: 0;
  }
  .footer_right-area {
    padding-top: 23px;
    padding-bottom: 45px;
  }
  .footer-right-position-area {
    padding: 14px 16px;
    width: 100%;
  }
  .footer-right-position-area {
    bottom: -3px;
  }
  .footer_buttom_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-buttom-menu-right-area {
    padding-left: 0;
  }
  .footer_buttom_menu ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .footer_content_area_sub{
    flex-direction: column;
    align-items: center;
  }
  .footer_content_area h2::after {
    left: 70px;
  }
  .header-search-btn {
    top: 49px;
  }
  .actuali-subscribe:not(.header-search-btn){
    margin: 60px auto;
  }
  .aides-area-section::before {
    top: -3%;
  }
  .header-search-btn {
    top: 100px;
  }
  .footer-btn {
    padding-right: 0;
  }

  .actuali-subscribe input[type=text]{
    &::-webkit-input-placeholder {
      font-size: 13px;
    }

    &::-moz-placeholder {
      font-size: 13px;
    }

    &:-ms-input-placeholder {
      font-size: 13px;
    }

    &::-ms-input-placeholder {
      font-size: 13px;
    }

    &::placeholder {
      font-size: 13px;
    }
  }
}

@media all and (max-width: 576px) {

  .banner-area {
    padding: 0 20px;
  }
  .actuali-right-fifty h1 {
    text-align: center;
  }
  .aides-head h1 {
    right: 20%;
  }
  .actuali-left-img::after {
    bottom: -212px;
  }
  .big-images::after {
    bottom: -110px !important;
  }

  .aidesfix-img {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
  }
  .aidesfix-content{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 66%;
    flex: 0 0 66%;
  }

  .mobile-aides {
    padding: 0 20px;
  }
  .aidesfix-img img {
    -o-object-fit: cover;
    object-fit: cover;
  }
  .aides-left-area {
    margin: 0 auto 0 auto;
  }
  .aides-left-area {
    background: #FFF;
    overflow: hidden;
    margin: 0 auto 30px;
  }

  .aides-left-area {
    padding-bottom: 0;
  }

  .header-menu-area {
    display: block;
  }
  .header-logo-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .mobile_area_scarch_bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .footer_icon_area2 {
    margin-left: 0;
    padding-left: 0;
    margin-top: 25;
  }

  .aidexfix-desc p {
    font-size: 16px !important;
    padding: 30px !important;
    margin: 20px 0 !important;
    line-height: 1.5;
  }
}

@media all and (max-width: 450px) {
  .aides-area-section::after{
    display: none;
  }
  .aides-head h1 {
    position: relative;
    top: -40px;
  }
  .big-images::after {
    display: none;
  }
  .actuali-left-img::after {
    display: none;
  }
  .footer-right-icon a i {
    font-size: 18px;
    padding-left: 5px;
  }
  .section-btn a {
    font-size: 11px;
  }
  .aides-title-icon h3 {
    font-size: 14px;
  }
  .aidexfix-desc p {
    padding: 25px 0 !important;
  }
  .aides-title-icon h3 {
    padding: 25px 60px 10px 25px;
  }
  .aidexfix-desc p {
    font-size: 14px !important;
  }
}
